:root {
  --c-primary: #5ece7b;
}

.NavbarItems {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style-type: none;
  text-align: center;
  width: auto;
  justify-content: flex-start;
  padding-left: 101px;
}

.actionsButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 101px;
  cursor: pointer;
}

.actionsButton > .currency-switch {
  padding: 1rem;
}

.nav-links > li,
a {
  color: grey;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:focus,
.nav-links:target {
  color: var(--c-primary);
  padding-bottom: 30px;
  border-bottom: 2px solid var(--c-primary);
  transition: all 0.2s ease;
}
